COMPOSE_PROJECT_NAME=magento-erp-search-demo

MAGENTO_VERSION=2.4.8-p4
MAGENTO_HOST=magento.test
MAGENTO_BASE_URL=http://magento.test/
MAGENTO_BACKEND_FRONTNAME=admin

MAGENTO_ADMIN_FIRSTNAME=Demo
MAGENTO_ADMIN_LASTNAME=Admin
MAGENTO_ADMIN_EMAIL=admin@example.com
MAGENTO_ADMIN_USER=admin
MAGENTO_ADMIN_PASSWORD=Admin123456!

MYSQL_DATABASE=magento
MYSQL_USER=magento
MYSQL_PASSWORD=magento
MYSQL_ROOT_PASSWORD=root

OPENSEARCH_HOST=opensearch
OPENSEARCH_PORT=9200

RABBITMQ_DEFAULT_USER=magento
RABBITMQ_DEFAULT_PASS=magento

REDIS_HOST=redis

MOCK_ERP_API_URL=http://mock-erp-api:3001
MOCK_ERP_API_HOST_PORT=3001
MOCK_ERP_API_TOKEN=dev-erp-token
