.env
.DS_Store
.idea/
src/app/etc/env.php
src/app/etc/config.php
src/auth.json
src/generated/
src/pub/static/
src/pub/media/
src/var/
src/vendor/
src/app/code/Portfolio/SearchEnhancer/frontend/node_modules/
mysql/
opensearch/
redis/
rabbitmq/
