<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="portfolio" translate="label" sortOrder="300">
            <label>Portfolio Integrations</label>
        </tab>
        <section id="portfolio_search_enhancer" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Search Enhancer</label>
            <tab>portfolio</tab>
            <resource>Portfolio_SearchEnhancer::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Search Suggestions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="min_query_length" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum Query Length</label>
                    <validate>required-entry validate-number validate-greater-than-zero</validate>
                </field>
                <field id="max_query_length" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum Query Length</label>
                    <validate>required-entry validate-number validate-greater-than-zero</validate>
                </field>
                <field id="suggestion_limit" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Suggestion Limit</label>
                    <validate>required-entry validate-number validate-greater-than-zero</validate>
                </field>
                <field id="cache_ttl" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>JSON Cache TTL Seconds</label>
                    <comment>Short-lived public cache for anonymous autocomplete responses.</comment>
                    <validate>required-entry validate-number validate-zero-or-greater</validate>
                </field>
                <field id="log_zero_results" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Log Zero-Result Searches</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
