<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Portfolio\OrderExport\Api\OrderExportClientInterface" type="Portfolio\OrderExport\Model\Api\OrderExportClient"/>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="portfolio_order_export" xsi:type="object">Portfolio\OrderExport\Console\Command\ExportOrderCommand</item>
                <item name="portfolio_order_export_enqueue" xsi:type="object">Portfolio\OrderExport\Console\Command\QueueExportOrderCommand</item>
                <item name="portfolio_order_export_retry_due" xsi:type="object">Portfolio\OrderExport\Console\Command\RetryDueOrderExportsCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="portfolio_order_export_log_listing_data_source" xsi:type="string">Portfolio\OrderExport\Model\ResourceModel\ExportLog\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Portfolio\OrderExport\Model\ResourceModel\ExportLog\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">portfolio_order_export_log</argument>
            <argument name="resourceModel" xsi:type="string">Portfolio\OrderExport\Model\ResourceModel\ExportLog</argument>
        </arguments>
    </virtualType>
</config>
