<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Portfolio\ErpSync\Api\ErpClientInterface" type="Portfolio\ErpSync\Model\Api\ErpClient"/>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="portfolio_erp_sync_products" xsi:type="object">Portfolio\ErpSync\Console\Command\SyncProductsCommand</item>
            </argument>
        </arguments>
    </type>
</config>
